# Empty CSS file for your own CSS

:root {
  --dark-sienna: #3c0919;
  --middle-orange: #303080;
  --red-crayola: #ff0054;

  --main-color: var(--red-crayola);
  --main-background: rose;
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body {
  font-family: Balsamiq Sans;
  padding-top: 70px;
  background-color: var(--cyan);
  color: var(--black);
}

.st-navbar {
  font-size: 1.4em;
  margin-bottom: 50px;
}

#logo {
  width: 40px;
  height: 40px;
}

#logo-big {
  width: 150px;
  height: 150px;
}

#aboutus {
  background-color: wheat;
  padding: 50px 10px 50px 10px;
}
