:root {/* CSS HEX */
--independence: #555b6e;
--morning-blue: #89b0ae;
--powder-blue: #bee3db;
--cultured: #faf9f9;
--apricot: #ffd6ba;




  --body-color1: #FFF9EB;
  --anchor-color: #FFDF00;
  --footer-color: #B80900;
  --box-color1: #ff645c;
  --nav-link-color: #701c1c;

   --body-color: var(--cultured);
--box-color: var(--independence);
--footer-color: var(--powder-blue);
--anchor-color: var(--nav-link-color);
}
body {
  font-family: 'Baloo 2';
  color: var(--body-color);
  font-size: 1.3em;
}

#logo {
  width: 50px;
  height: 50px;
}

a {
  color: var(--anchor-color);
  font-weight: 1000;
}

.footer {
  background-color: var(--footer-color);
  margin: 0 auto;
  padding: 20 0 10;
  box-sizing: border-box;
  font-size: 0.7em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  background-color: var(--box-color);
  width: 100%;
}
.main-content {
  margin-left: 10%;
  margin-right: 10%;
}

#center {
  text-align: center;
}

.nav-link {
  color: var(--nav-link-color);
}
