@import
url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
body {
  font-family: 'Baloo 2';
  color: #FFF9EB;
  font-size: 1.3em;
}

#logo {
  width: 50px;
  height: 50px;
}

a {
  color: #FFDF00;
  font-weight: 1000;
}

.footer {
  background-color: #B80900;
  margin: 0 auto;
  padding: 20 0 10;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  background-color: #ff645c;
}

.nav-link {
  color: #701c1c;
}
