# Empty CSS file for your own CSS

@import
url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');
body {
  font-family: Balsamiq Sans;
}

#logo {
  width: 30px;
  height: 30px;
}

.footer {
  background-color: silver;
  margin: 0 auto;
  padding: 20 0 10;
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
