:root {/* CSS HEX */
  --independence: #555b6e;
  --morning-blue: #89b0ae;
  --powder-blue: #bee3db;
  --cultured: #faf9f9;
  --apricot: #ffd6ba;

  --old-lace: #FFF9EB;
  --golden-yellow: #FFDF00;
  --international-orange-engineering: #B80900;
  --bittersweet: #ff645c;
  --persian-plum: #701c1c;

  --body-color: var(--old-lace);
  --box-color: var(--bittersweet);
  --footer-color: var(--international-orange-engineering);
  --anchor-color: var(--golden-yellow);
  --nav-link-color: var(--persian-plum);
}
body {
  font-family: 'Baloo 2';
  color: var(--body-color);
  font-size: 1.3em;
}

#logo {
  width: 50px;
  height: 50px;
}

.image_rounded {
  border-radius: 100%;
}

a {
  color: var(--anchor-color);
  font-weight: 1000;
}

.footer {
  background-color: var(--footer-color);
  margin: 0 auto;
  padding: 20 0 10;
  box-sizing: border-box;
  font-size: 0.7em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  background-color: var(--box-color);
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.main-content {
  margin-left: 10%;
  margin-right: 10%;
}

#center {
  text-align: center;
}

.nav-link {
  color: var(--nav-link-color);
}

#carouselExampleIndicators img {
  width: 60%;

}

#bod-image-names {
  position: relative;
  text-align: left;
  color: white;
}

#boardofdirectorsimg {
  opacity: 0.6;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: black;
}

.overlay-names {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-size: 1.3em;
  color: white;
  z-index: 100;
}
